a, a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
body {
  font-family: 'Livvic', sans-serif;
  text-align: center;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120%;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 125%;
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 125%;
}

h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 125%;
  color: #1D1D1B;

}

h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 125%;
}

/* Nav */

nav {
  background-color:#FFCE25;
  height: 10%;
  position: -webkit-sticky;
  position: sticky;
  text-align: left;
}

.cartImg {
  width: 24px;
  margin-left: 60%;
}

.logoImg {
  padding: 1%;
}

/* Filters */

.allClass {
  margin-left: 25px;
}

.allClass:hover {
  cursor: pointer;
}

.filterClass {
  margin-left: 5px;
}

.filterClass:hover {
  cursor: pointer;
}

.filterImg {
  padding-right: 2px;
}

/*Main Column*/
.column {
  float: left;
}


.filterText {
  color: #7F7F7F;
  margin-top: 30%;
  margin-left: 25px;
  margin-bottom: 10%;
}

.left {
  padding-left: 3%;
  text-align: left;
  width: 15%;
}


.listTitle {
  color: #1D1D1B;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 125%;
  margin-left: 10%;
  margin-top: 2%;
}

.right {
  text-align: left !important;
  width: 80%;
}
/* Card */

.bckImg {
  overflow: visible;
  max-width: 20rem;
  z-index: -1;
}

.cardTitle {
  color: #0097CC;
}

.dateText {
  color: #1D1D1B;
  padding-top: 2px;
  vertical-align: center;
  
}

.dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem auto;
  max-width: 80%;
  text-align: left;
}

.dictionary > .term {
  text-align: left;
  max-width: 20rem;
  margin-bottom: 3rem;
  transition: all 100ms ease-in-out;
}

.dictionary > .term > dt {
  margin-bottom: 1rem;
}

.price {
  color: #1D1D1B;
}

.term {
  overflow: visible;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*Details*/

.arrow {
  height: 18px;
  width: 21px;
  vertical-align: bottom;
}

.backLink {
  margin-top: 30%;
}

.box {

  background: #FFFFFF;
  box-shadow: 1px 2px 16px rgba(127, 127, 127, 0.25);
  border-radius: 8px;
  max-width: 300px;
  padding:5%;
}

.detBckImg {
  border-radius: 8px;
  height: 382px;
  margin-top: 4%;
  margin-bottom: 2%;
  width: 1040px;

}

.detTitle {
  color: #0097CC;
  margin-top: 2%;
  margin-bottom: 1%;
}

.iconDetails {
  margin: 5px;
}

.speaker {
  display: inline-flex;
}

.speakerH {
  color: #1D1D1B;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 125%;
}

.speakerP {
  color: #0D0D0D;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  margin-right: 5px;
}

.timeIcon {
  height: 15px;
  line-height: 125%;
  margin: 5px;
  width: 15px;
}

/*Details division*/

.detDiv {
  float: left;
}

.detLeft {
  padding-left: 3%;
  text-align: left;
  width: 60%;
}

.detRight {
  text-align: left;
  width: 40%;
}

@media screen and (max-width: 600px) {
  .detDiv {
    width: 100%;
  }
}

.descText {
  color: #1D1D1B;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  max-width: 80%;
  margin-top: 5%;
}

/* Details similar ws */

.similar {
  text-align: right;
}